__pycache__
.ipynb_checkpoints
out/
*.bak

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

/cv/aruco/GenerateDiamond
/cv/aruco/calibrate_camera_charuco.cpp
/cv/aruco/calibrate_camera_charuco
/cv/aruco/create_board_charuco
/cv/aruco/create_board_charuco.cpp
/cv/aruco/out.jpg

/cv/calibration/calib_imgs/*.jpg
